html {
  text-align: center;
}

body {
  background-color: #fff4c9;
  font: 16px "Lora", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #1f1f1f;
}

h1 {
  font: 40px "Lato", Helvetica, sans-serif;
  color: #1b262c;
  padding-top:40px;
  padding-bottom: 40px;
}

h2 {
  font: 16px "Lora", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #1f1f1f;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #81ae64;
  overflow: hidden;
  border-radius: 8px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 17px, "Lato", Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #c7e78b;
  color: #81ae64;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #709053;
  color: white;
}
