<form id="new-post-form" action="/posts" method="post">
  <label for="message">Type Your Message: </label>
  <br>
  <textarea id="message" type="text" name="message" value="" rows="4" cols="50"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>

<p> ----- </p>

<center>
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h2 class> Mongo File Uploads </h2>
        <form action="/upload" method="POST" enctype="multi-multipart/form-data">
          <input type="file" name="file" id="file" class="custom-file-input">
          <br>
          <label for="file" class="custom-file-label"> Choose File </label>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</center>
