<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload Images to Server</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/photo.css' />
</head>
<body>
  <center>
    <div class="logo">
      <br>
      <img src="images/logo.png">
    </div>
    <div class="banner2">
      <br>
    </div>
    <h1 class> Your beautiful Photos </h1>
    <div class="banner2">
      <br>
    </div>
    <div class="banner1">
      <br>
    </div>
    <br>
    <h2> Add a photo below </h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" id="file" class="custom-file-input">
      <br>
      <label for="file" class="custom-file-label"></label>
      <br>
      <input type="submit" value="Submit" class="submit-button">
    </form>
    <br>
    <div class="banner2">
      <br>
    </div>
    <br>
    <% if(files){ %>
      <% files.forEach(function(file) { %>
      <div class="card card-body mb-3">
        <% if(file.isImage) { %>
          <img src="image/<%= file.filename %>" alt="">
            <% } else { %>
              <%= file.filename %>
              <% } %>
              <br>
              <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                <button class="delete-button">Delete</button>
              </form>
              <br>
        </div>
          <% }) %>
          <% } else { %>
          <p>No files to show</p>
          <% } %>
    <div class="banner2">
      <br>
    </div>
    <div class="banner1">
      <br>
    </div>
  </center>
</body>
</html>
