<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload Images to Server</title>
    <meta charset="utf-8">
    <style>
      img {
        width: 100%;
      }
    </style>
</head>
<body>
  <center>
    <h2 class> Mongo File Uploads </h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" id="file" class="custom-file-input">
      <br>
      <label for="file" class="custom-file-label"> Choose File </label>
      <input type="submit" value="Submit">
    </form>
    <hr>
    <% if(files){ %>
      <% files.forEach(function(file) { %>
      <div class="card card-body mb-3">
        <% if(file.isImage) { %>
          <img src="image/<%= file.filename %>" alt="">
            <% } else { %>
              <%= file.filename %>
              <% } %>
              <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                <button class="btn btn-danger btn-block mt-4">Delete</button>
              </form>
        </div>
          <% }) %>
          <% } else { %>
          <p>No files to show</p>
          <% } %>
  </center>
</body>
</html>
